<form action="/records/{{_id}}?_method=PUT" method="POST" class="central-part mt-5">
  <div class="row form-top mb-4">
    <div class="col-4">
      <p class="form-top-left">*必填欄位</p>
    </div>
    <div class="col-8">
      <p class="form-top-right">請修改你的支出</p>
    </div>
  </div>

  <div class="row g-3 align-items-center mb-4">
    <div class="col-4">
      <label for="name" class="col-form-label">名稱*：</label>
    </div>
    <div class="col-8">
      <input type="text" id="name" name="name" class="form-control" aria-describedby="recordName" maxlength="50" value="{{name}}"
        required>
    </div>
    <div class="form-text">(名稱不得超過50字)</div>
  </div>
  <div class="row g-3 align-items-center mb-5">
    <div class="col-4">
      <label for="date" class="col-form-label">日期*：</label>
    </div>
    <div class="col-8">
      <input type="date" id="date" name="date" class="form-control" aria-describedby="recordDate" value="{{date}}" required>
    </div>
  </div>
  <div class="row g-3 align-items-center mb-5">
    <div class="col-4">
      <label for="category" class="col-form-label">類別*：</label>
    </div>
    <div class="col-8">
      <select id="category" name="category" class="form-select" aria-label="recordCategory" required>
        <option value="">Select</option>
        {{#options category}}{{/options}}
      </select>
    </div>
  </div>
  <div class="row g-3 align-items-center mb-5">
    <div class="col-4">
      <label for="amount" class="col-form-label">金額*：</label>
    </div>
    <div class="col-8">
      <input type="number" id="amount" name="amount" class="form-control" aria-describedby="recordAmount" value="{{amount}}" required>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <button type="submit" class="btn btn-warning create-button">送出</button>
    </div>
  </div>
</form>